<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {background-color: rgb(199, 196, 196);}
        h1, h2, h3       {color: rgb(0, 0, 0); text-align: center;}
        hr       {color: rgb(231, 0, 0); background-color: rgb(0, 231, 89); border-color: rgb(0, 231, 89); width: 40%;} 
        p        {color: rgb(231, 0, 0); text-align: center;}
        img      {opacity: 0.3; margin-left: auto; margin-right: auto; display: block; width: 15%;}
        .italicado {font-style: italic;}
    </style>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo ao LivreTo</title>
</head>
<body>
    <br/>
    <br/>
    <br/>
    <h1>Bem vindo ao Livre<i>To</i></h1>
    {% block content %}
    <h1>Lalala</h1>
    {% endblock content %}
    
</body>
</html>